<ion-header [translucent]="true">
  <ion-title>
  </ion-title>
  </ion-header>
  <ion-content [fullscreen]="true"> 
  <ion-header collapse="condense">
  <ion-toolbar>
  <ion-title size="large"></ion-title>
  </ion-toolbar>
  </ion-header>
  <div id="container" class="body">
  <ion-img src="../../../assets/logo.png" class="icons">  
  </ion-img><h1 class="righteous-regular azul titulointroducao">Função</h1>
  <p class="source-sans descricaointroducao"  style="text-align: center;">A Função de Uma calculadora de pegada de carbono estima as emissões de gases de efeito estufa, como CO2, geradas por atividades humanas, ajudando a conscientizar sobre o impacto ambiental e identificar formas de reduzir essas emissões.</p>
  <div class="container-25">
  <div class="ellipse-9">
  </div>
  <div class="ellipse-7">
  </div>
  <div class="ellipse-8">
  </div>
  </div>
  </div>
   
   
  </ion-content>