<ion-menu [contentId]="content_id"> 
  <ion-header>
    <ion-toolbar>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item (click)="go('/home')">Home</ion-item>
      <ion-item (click)="go('/periodicidade')">Calculadora</ion-item>
      <ion-item (click)="go('/cadastro-ambiente')">Cadastro de Ambiente</ion-item>
      <ion-item (click)="go('/listarambiente')">Lista de Ambiente</ion-item>
      <ion-item (click)="go('/cadastro-comodo')">Cadastro de Comodos</ion-item>
      <ion-item (click)="go('/listarcomodo')">Listas de Comodos</ion-item>
      <ion-item (click)="go('/cadastro-equipamentos')">Cadastro de Equipamentos</ion-item>
      <ion-item (click)="go('/listarequipamento')">Lista de Equipamentos</ion-item>

      <ion-item (click)="go('/login')"><b>Login</b></ion-item>

    </ion-list>    
  </ion-content>
</ion-menu>



