<ion-menu [contentId]="content_id"> 
  <ion-header>
    <ion-toolbar>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item (click)="go('/home')"><b>Home</b></ion-item>
      <ion-item (click)="go('/periodicidade')">Calculadora</ion-item>
      <ion-item (click)="go('/cadastro-ambiente')"><b>Cadastro de Ambiente</b></ion-item>
      <ion-item (click)="go('/listarambiente')">Lista de Ambiente</ion-item>
      <ion-item (click)="go('/cadastro-comodo')"><b>Cadastro de Comodos</b></ion-item>
      <ion-item (click)="go('/listarcomodo')">Listas de Comodos</ion-item>
      <ion-item (click)="go('/cadastro-equipamentos')"><b>Cadastro de Equipamentos</b></ion-item>
      <ion-item (click)="go('/listarequipamento')">Lista de Equipamentos</ion-item>
      <ion-item (click)="go('/sobrenos')"><b>Sobre-Nós</b></ion-item>
      <ion-item (click)="go('/contato')">Contato</ion-item>



      <ion-item (click)="go('/login')"><b>Login</b></ion-item>

    </ion-list>    
  </ion-content>
</ion-menu>



