<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<app-menu content-id="home-content"></app-menu>

<ion-content id="home-content">
  <div class="logo-title-container">
    <img src="../../../assets/logo.png" alt="Matec" class="logo"/>
    <h1 class="app-title">RJ Carbono</h1>
  </div>

  <div class="welcome-message">
    <p>Bem-vindo(a) ao RJ carbono! Estamos aqui para ajudar você a entender melhor sobre a pegada de carbono.</p>
  </div>

  <ion-button expand="block" fill="solid" color="success" class="square-button" routerLink="/periodicidade">
    <ion-icon name="calculator-outline" slot="start"></ion-icon>
    <div>Calculadora de carbono</div>
  </ion-button>
  
  <ion-button expand="block" fill="solid" color="success" class="square-button" routerLink="/cadastro-comodo">
    <ion-icon name="home-outline" slot="start"></ion-icon>
    <div>Cadastro de comodo</div>
</ion-button>
  
<ion-button expand="block" fill="solid" color="success" class="square-button" routerLink="/perfil-exemplo">
  <ion-icon name="people-outline" slot="start"></ion-icon>
  <div>Perfil</div>
</ion-button>
  
  <ion-button expand="block" fill="solid" color="success" class="square-button" routerLink="/cadastro-equipamentos">
    <ion-icon name="construct-outline" slot="start"></ion-icon>
    <div>Cadastro Equipamento</div>
  </ion-button>
</ion-content>
