<ion-header>
  <ion-toolbar>
    <ion-title>Calculadora de pegada de carbono</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<app-menu content-id="home-content"></app-menu>

<ion-content id="home-content">
  <ion-header collapse="condense">
    <ion-toolbar>
     <ion-button slot="start"> 
        <!-- Ícone de casinha para voltar ao início -->
        <ion-button (click)="voltarHome()">
          <ion-icon slot="icon-only" name="home-outline"></ion-icon>
        </ion-button>
       </ion-button> 
      <ion-title size="large">Calculadora de Carbono</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Calcule sua Pegada de Carbono</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Entrada de consumo de energia -->
      <ion-item>
        <ion-label position="floating">Consumo de Energia (kWh)</ion-label>
        <ion-input type="number" [(ngModel)]="consumo" placeholder="Digite o consumo em kWh"></ion-input>
      </ion-item>

      <!-- Entrada de periodicidade (em dias) -->
      <ion-item>
        <ion-label position="floating">Dias</ion-label>
        <ion-input type="number" [(ngModel)]="dias" placeholder="Digite a quantidade de dias"></ion-input>
      </ion-item>

      <!-- Botão para calcular -->
      <ion-button expand="block" color="success" (click)="calcularCarbono()">Calcular</ion-button>

      <!-- Exibição do resultado -->
      <div *ngIf="resultado !== null">
        <ion-card>
          <ion-card-content>
            Sua emissão de carbono estimada é de {{ resultado }} kg de CO2.
          </ion-card-content>
        </ion-card>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
