<ion-header>
  <ion-toolbar>
    <ion-title>Sobre Nós</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<app-menu content-id="sobrenos-content"></app-menu>

<ion-content id="sobrenos-content">
  <div class="logo-title-container">
    <img src="../../../assets/logo.png" alt="RJ Carbono" class="logo"/>
    <h1 class="app-title">RJ Carbono</h1>
  </div>

  <div class="about-us-section">
    <p>A <strong>RJ Carbono</strong> é uma empresa localizada em <strong>Criciúma-SC</strong>, especializada no cálculo e gerenciamento de pegadas de carbono. Nosso objetivo é ajudar indivíduos e empresas a entenderem e reduzirem seu impacto ambiental, promovendo um futuro mais sustentável.</p>
    
    <p>Nossa equipe dedicada, com uma paixão pela sustentabilidade, desenvolve soluções que ajudam a calcular e gerenciar suas emissões de carbono de maneira prática e eficaz.</p>
  </div>

  <div class="mission-vision-values">
    <h2>Missão</h2>
    <p>Conscientizar e promover a sustentabilidade através de ferramentas acessíveis para o cálculo da pegada de carbono.</p>

    <h2>Visão</h2>
    <p>Ser referência no Brasil em tecnologias e soluções voltadas para a redução das emissões de carbono.</p>

    <h2>Valores</h2>
    <ul>
      <li>Sustentabilidade</li>
      <li>Inovação</li>
      <li>Transparência</li>
      <li>Compromisso com o meio ambiente</li>
    </ul>
  </div>

  <div class="location-section">
    <h2>Nossa Localização</h2>
    <p>Estamos localizados no coração de Criciúma, Santa Catarina. Venha nos visitar e conheça mais sobre como podemos ajudar a reduzir seu impacto ambiental.</p>
  </div>
</ion-content>
